<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/view/css/materialize.min.css" media="screen,projection" />
  <!--Let browser know website is optimized for mobile-->
  <link type="text/css" rel="stylesheet" href="/view/css/css.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="Nucleo unificado de pesquisa integrando agropecuaria">
  <meta name="keywords" content="Nupia,Geosolo,GVTecAgro,INFES,VITAL">
  <meta name="author" content="Raimundo Lima,Marcos Goulart,Luis">
</head>

<body class="green lighten-5 ">

  <nav style="position: fixed;" class="green nav-extended navbar-fixed">
    <div class="green nav-wrapper ">

      <div aling="center" class="brand-logo">
        <a style="" href="home.php">
<img style=" margin-top: 4%;"  height="48px" aling="" src="view/img/Nupia2.png" alt="Icone">
</a>
        <a style="" href="home.php"></a>
      </div>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right">
        <li><a class="" id="home" href="Home">Home</a></li>
        <li><a class="" id="acoes" href="Acoes">Ações</a></li>
        <li><a id="projetos" href="Projetos">Projetos</a></li>
        <li><a id="eixos" href="Eixos">Eixos</a></li>
        <li><a id="cadastra" href="Cadastro">Cadastro
		<i id="countIco"  class="material-icons prefix left tiny">account_circle</i>
		</li></a>
          <li>
            <form method="GET" action="Home">
              <li><i class="material-icons left">search</i></li>
              <li><input placeholder="Pesquisar"></li>
              <li><input type="submit" hidden></li>
            </form>
          </li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="Home">Home</a></li>
    <li><a class="" id="acoes" href="Acoes">Ações</a></li>
    <li><a href="Projetos">Projetos</a></li>
    <li><a href="Eixos">Eixos</a></li>
    <li><a href="Cadastro">Cadastro</a></li>
    <!--	<li><i class="material-icons left">search</i></li><li><input  placeholder="Pesquisar" ></li>-->
  </ul>
  <script>
  </script>
  <div id="preloader">
    <div class="inner">
      <div class="bolas">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <!--fim -->